@define-color bg-color-1 #3c3836;
@define-color bg-color-2 #504945;
@define-color bg-color-3 #665c53;
@define-color bg-color-4 #7c6f64;

@define-color fg-color-1 #a89984;
@define-color fg-color-2 #bdae93;
@define-color fg-color-3 #d5c4a1;
@define-color fg-color-4 #ebdbb2;

@define-color blue-1 #458488;
@define-color blue-2 #83a598;

* {
    font-family: "Fira Code Nerd Font", sans-serif;
    font-size: 16px;
    color: @fg-color-4;

    min-height: 0;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}

window#waybar {
    background-color: @bg-color-1;
    padding: 0px;
    margin: 0px;
    margin-bottom: 5px;
}

#workspaces button {
    color: @fg-color-3;
    background-color: @bg-color-4;
    border-radius: 0%;
    min-height: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}

#workspaces button.active {
    /*color: @fg-color-2; */
    background-color: @bg-color-3;
    border-bottom: 4px solid @bg-color-1;
}

#tray, #battery, #clock{
    font-size: 1rem;
    margin-right: 10px;
    background-color: @bg-color-2;

    padding: 0px;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    
    border: 2px solid @bg-color-4;
    border-radius: 5px;
}

#clock {
    padding-right: 0.2rem;
}

#custom-power {
    font-size: 1.3rem;
    border: 2px solid @bg-color-4;
    border-radius: 5px;

    padding: 0px;    
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    background-color: @bg-color-2;
    margin-right: 5px;
}
